body {
    background-color: rgb(223, 0, 0);
}

h1 {
    color: gold;
    background-color: rgb(200, 0, 102);
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

#ingredients {
    background-color: chocolate;
}
#method {
    background-color: firebrick;
}

#title-banner {
    display: flex;
    align-items: center;
}

.container {
    color: white;
    word-spacing: 10px;
    /* text-align: center; */
    /* padding: 10px; */
    margin: 20px;
}
